<div class="container mt-3 w-50" >
  <%= simple_form_for(@user) do |f| %>
    <h2> <%= f.input :name, placeholder: "Full name" %> </h2>
    <h2> <%= f.input :description, placeholder: "Art amateur, big fan of modern art and Asian antiques!"%> </h2>
    <h4> <%= f.input :picture%> </h4>
    <%= f.input :picture_cache, as: :hidden %>
    <%= f.submit "Save profile", class: "btn btn-success" %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
