<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= (params[:controller] == 'pages' && params[:action] == 'home') ? 'navbar-fixed' : '' %>" style="background-color: <%= back_color %>; align-items: center;">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h3><i class="fas fa-palette <%= font_class %>"></i></h3>
    <% end %>
    <div class="search-bar">
    <%= form_tag arts_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a masterpiece..." %>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link">
        <% if policy(Art).create? %>
          <%= link_to new_art_path do %>
          <div class="btn btn-outline-light rounded <%= font_class %> <%= button_hover %>">Add New Art</div>
          <% end %>
        <% end %>
      </li>
      <li class="nav-item dropdown avatar-center">
        <% if user_signed_in? %>
          <% if current_user.picture.url %>
            <%= cl_image_tag current_user.picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <p class=“avatar nopic”, id=“navbarDropdown” data-toggle=“dropdown” aria-haspopup=“true” > <%= current_user.name.first %> </p>
          <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%=link_to "Profile", user_path(current_user), class:"dropdown-item"%>
          <%=link_to "Your leases", leases_path, class:"dropdown-item"%>
          <%=link_to "Edit profile", edit_user_path(current_user), class:"dropdown-item"%>
          <%=link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item"%>
        <% else %>
          <%=link_to "Log in", new_user_session_path, class: "btn btn-outline-light rounded #{font_class} #{button_hover}" %>
        <% end %>
        <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
