<div class="d-flex justify-content-between">


  <div class="row" style="width: 60%; margin: 0 15px;">

    <% @arts.each do |art| %>
      <div class="col-xs-12 col-sm-6">


          <div class="card-trip">
            <%= link_to "", art_path(art), class: 'art-card-link'  %>
            <% if policy(art).edit? %>
              <div class="update-btn modify-btn rounded-circle">
                <%= link_to edit_art_path(art), class:"btn-xs btn-default" do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </div>
            <% end %>
            <% if policy(art).destroy? %>
              <div class="destroy-btn modify-btn rounded-circle">
                <%= link_to art_path(art), method: :delete, class:" btn-xs", data: { confirm: 'Are you sure?' } do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
            <div class="background-image" style="background-image: url('<%= art.picture.url ? art.picture_url : 'https://images.unsplash.com/photo-1454191297004-cefa4b1042d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80' %>'); height: 200px; background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
            <%#= cl_image_tag art.picture, height: 200, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= art.name %></h2>
                <p><%= art.description %></p>
              </div>
              <h2 class="card-trip-pricing">£<%= art.price.round(0) %></h2>
            </div>
          </div>
      </div>
    <% end %>

  </div>



  <div
    id="map"
    style="width: 40%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>
