<div class="container mt-3">
  <%= simple_form_for(@art) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :artist %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :value %>
    <%= f.input :availability %>
    <%= f.input :picture %>
    <%= f.input :picture_cache, as: :hidden %>
    <%= f.submit "Add masterpiece", class: "btn btn-success" %>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
