<div class="container">
  <div class="card-product">
    <div class="card-product" style="height: 600px;">
      <div class="painting-holder">
        <%= image_tag 'frame.png', class: "painting-frame" %>
        <%= cl_image_tag @art.picture, crop: :fill, class:'art-img' %>
      </div>
    </div>
    <div class="card-product-infos box d-flex flex-column justify-content-between align-items-start m-3">
      <div class="mb-4">
        <h1 class="art-title"><%= @art.name %></h1>
        <h6 class="art-price">£<%= number_with_delimiter(@art.price.to_i) %>/day <em>(£<%= number_with_delimiter(@art.value.to_i) %>)</em></h6>
        <h3 class="art-description"> <%= @art.description %>(painted by <em><%= @art.artist %></em>)</h3>
      </div>
      <div class="w-100">
        <h6 style="font-size: 25px;"><strong><i class="fas fa-map-marker-alt"></i></strong> <%= @art.location %></h6>
        <div class="d-flex justfiy-content-start align-items-center">
          <%= cl_image_tag @art.owner.picture, class:'avatar-large mr-2' %>
          <div>
            <p style="font-weight: bolder;"><%= @art.owner.name %></p>
            <p><i class="fas fa-phone"></i> <%= @art.owner.phone_number %></p>
          </div>
        </div>
      </div>
      <div class="w-100">
        <% if @art.availability == true %>
          <h6> <strong> Currently available </strong></h6>
          <%= link_to "Book", new_art_lease_path(@art), class:"btn red-font button-hover mt-3 w-100" %>
        <% else %>
          <h6> <strong> Currently unavailable </strong></h6>
          <a class="not_available_button mt-3" href="#"> Notify me when available </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="mb-3"><%= pluralize @art.reviews.size, "review" %></h2>
  <div id="review_list">
    <% @reviews.each do |review|%>
      <%= render 'reviews/review', review:review %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'reviews/form', art:@art, review:@review %>
</div>
<% content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/init_star_rating' %>
<% end %>

