<div class="container mt-3 w-50">
  <h2>Price per day: <%= @art.price.to_i %>£</h2>
  <br>
  <br>
  <%= simple_form_for [@art, @lease] do |f| %>
    <h4> <%= f.input :start, label: "Start date:"  %></h4>
    <h4> <%= f.input :end, label: "End date:"  %></h4>
    <%= f.submit "Make booking", class:"btn btn-success" %>
  <% end %>
</div>
